body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background:#02ffab;
}

.header_div{
    background: rgb(210, 255, 240);
    color: #ff0000;
}

.header_div img{
width: 100px
}

.main_div{
    background: #f0eea6;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid rgb(252, 2, 2);
}

.main_div label{
    background: rgb(180, 244, 255);
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px rgb(150, 1, 180);
}

#camera{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px rgb(255, 196, 0);
    

}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px rgb(173, 255, 162);
    border: 1px solid
}

.footer_div{
    margin-bottom: 50px;
}

.footer_div h4{
    background:rgb(255, 0, 98);
    border-radius: 10px;
    padding:5px;
    box-shadow:5px 5px 18px rgb(255, 191, 191);
}

.footer_div img{
    width:70px;
}

.copy_right_footer{
    position:fixed;
    color:black;
    bottom:0;
    width:100%;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
}